<center>
    <h1 style="color:green">
        <b>
            <u> Max Company </u>
        </b>
    </h1>
</center>

In [2]:
import pandas as pd
import numpy as np


from src.data_processing.load_data import load_data
from config.config import TEST_RATIO, SEED

In [9]:
df = load_data('data/house_prices.csv')
display(df)

,price,AreA,bedrooms,BATHROOMS,stories,mainroad,guestroom,basement,hotwaterheating,air conditioning,parking,prefarea,furnishing STATUS,houSeaGe
0,4543000.0,4990.0,4.0,2.0,2.0,yes,yes,yes,no,no,0.0,yes,furnished,15.0
1,8080940.0,7000.0,3.0,2.0,4.0,yes,no,no,no,yes,2.0,no,FURNISHED,11.0
2,8750000.0,4321.0,3.0,2.0,2.0,yes,no,yes,yes,no,2.0,no,FURNISHED,NaN
3,1890000.0,1700.0,3.0,1.0,2.0,yes,no,no,no,no,0.0,no,unfurnished,NaN
4,12215000.0,7500.0,4.0,2.0,2.0,yes,no,yes,no,yes,3.0,yes,furnished,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
804,2653000.0,4000.0,3.0,1.0,2.0,yes,no,no,no,yes,0.0,no,unfurnished,NaN
805,8855000.0,6421.0,3.0,3.0,2.0,yes,no,no,no,yes,1.0,yes,semi-furnished,NaN
806,3010000.0,3750.0,3.0,1.0,2.0,yes,no,no,no,no,0.0,no,unfurnished,NaN
807,4340000.0,1905.0,5.0,1.0,2.0,no,no,yes,no,no,0.0,no,semi-furnished,NaN
808,3220000.0,2684.0,2.0,1.0,1.0,yes,no,no,no,yes,1.0,no,unfurnished,NaN

In [21]:
df.dtypes

price                float64
AreA                 float64
bedrooms             float64
BATHROOMS            float64
stories              float64
mainroad              object
guestroom             object
basement              object
hotwaterheating       object
air conditioning      object
parking              float64
prefarea              object
furnishing STATUS     object
houSeaGe             float64
dtype: object

In [10]:
df.describe()

,price,AreA,bedrooms,BATHROOMS,stories,parking,houSeaGe
count,7.890000e+02,794.000000,785.000000,788.000000,794.000000,793.000000,5.00000
mean,5.406437e+06,5482.997481,3.048408,1.469543,1.935768,0.825977,35.00000
std,2.217827e+06,2203.340686,0.742445,0.669037,0.951354,0.874718,27.10166
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000,11.00000
25%,3.640000e+06,3665.000000,3.000000,1.000000,1.000000,0.000000,15.00000
50%,4.893000e+06,5310.000000,3.000000,1.000000,2.000000,1.000000,28.00000
75%,7.210000e+06,6601.000000,3.000000,2.000000,2.000000,2.000000,43.00000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000,78.00000

In [4]:
colonne_yes_no = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'air conditioning', 'prefarea']
df[colonne_yes_no] = df[colonne_yes_no].replace({'yes' : True, 'No' : False}) 
df['furnishing STATUS']

array(['furnished', 'FURNISHED', 'unfurnished', 'semi-furnished', nan,
       'Furnished'], dtype=object)

In [11]:
df['furnishing STATUS'] = df['furnishing STATUS'].str.lower()

In [8]:
df['furnishing STATUS']

0      2.0
1      2.0
2      2.0
3      NaN
4      2.0
      ...
804    NaN
805    NaN
806    NaN
807    NaN
808    NaN
Name: furnishing STATUS, Length: 809, dtype: float64

In [7]:
print(TEST_RATIO, SEED)

0.3 13

# Introduction

# EDA

# Validation croisée

# Machine Learning

# Conclusion